/*
* Custom Css file for estripper
* Author - Rahul Sagore
*/
html, body{
	height: 100%;
    margin: 0;
	font-family: Raleway;
}

.wrapper{
	min-height: 100%;
	margin-bottom: -80px;
}

/*Genreal css functionality*/
.text-center{
	text-align: center;
}

.uppercase{
	text-transform: uppercase;
}

.no-anchor{
	text-decoration: none;
}

.full-width {
	width: 1140px;
	max-width: 100%;
	clear: both;
	margin: 0 auto;
}

/*Css for header section*/

#header{
	background: #D81B60;
    color: #FFFFFF;
	padding: 20px;
}

.welcome{
	font-size: 15px;
	letter-spacing: 1px;
}

.logo{
	letter-spacing: 1px;
	font-size: 30px;
}

#search-form{
	margin-bottom: 0px;
}

#product_name{
	width: 100%;
	min-width: 280px;
	border-radius: 0px;
}

#product-search{
	margin-left: -5px;
	padding: 0px 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    line-height: 0;
    font-size: 12px;
}

.form-group > .input-group{
	display: inline-block;
}

.searchMsg{
	list-style: none;
	padding: 8px;
}

.disc{
	color: black;
    font-weight: bold;
}

.webname{
	font-size: 18px;
	text-align: center;
	color:white;
}

#jungname{
	background: #E76B02;
}

#smartname{
	background: #4692F0;
}

/*Sticky footer*/
.wrapper:after {
  content: "";
  display: block;
}
footer, .wrapper:after {
  height: 80px;
}

footer{
	color: white;
    background: #32415E;
}

.about a {
    margin: 7px;
    font-size: 17px;
    color: white;
}

.connect a {
    padding: 2px;
}

.connect .fa-github-square {
    color: white;
}

.connect .fa-linkedin-square {
    color: #0177B5;
}

.connect .fa-twitter-square {
    color: #55ACEE;
}
