/*
* Custom Css file for estripper
* Author - Rahul Sagore
*/
html, body{
	height: 100%;
	font-family: Raleway;
}
.wrapper{
	min-height: 600px;
	margin-bottom: -10px;
}
#header{
	background: #3D3434;
	color: white;
}
.searchMsg{
	list-style: none;
	padding: 8px;
}
.disc{
	color: red;
}
footer{
	height: 10px;
	color: white;
	padding: 20px;
	background: #3D3434;
}