/*
* Custom Css file for estripper
* Author - Rahul Sagore
*/
html, body{
	height: 100%;
}
.wrapper{
	min-height: 600px;
	margin-bottom: -10px;
}
#header{

}
.searchMsg{
	background: #58CE6E;
	list-style: none;
	padding-left: 10px;
}
.disc{
	color: red;
}
footer{
	height: 10px;
	color: white;
	padding: 20px;
	background: #3D3434;
}