<!doctype html>
<html>
  <head>
  	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Home | Estripper</title>
    <link rel="stylesheet" type="text/css" href="/static/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
  </head>
  
  <body>
  
  	<div class="wrapper">
	  	<div id="header">
		   <div class="container">
			  <div class="row">
				<div class="two columns"><h4>Estripper</h4></div>
				<div class="ten columns">
				  Welcome to Estripper (Ecommerce scrapper) - <span class="disc">Work Under-construction</span><br>
				  For finding cheapest product around the ecommerce website
				</div>
			  </div>
			</div><!-- ./container class for header -->
		</div><!-- #header end -->

		<!-- Block for content -->
		<div class="container">
		  {% block content %}{% endblock %}
		</div><!-- ./container class for products -->

	</div><!-- ./Wrapper class -->

  	<footer>
  		<div class="container">
  		  <div class="seven columns">
			Developed by - Rahul Sagore
		  </div>
		  <div class="five columns">
		   Connect me on :
		     <a href="https://github.com/Rahul-Sagore">Github</a> -
		     <a href="https://in.linkedin.com/in/rahulsagore">LinkedIn</a> -
		     <a href="https://twitter.com/rahulx1">Twitter</a>
		  </div> 
		</div>
  	</footer>
  	
  </body>
  
</html>
