{% extends "base.html" %}
{% block content %}
	  <br>
	  <!-- just use a number and class 'column' or 'columns' -->
	  <form action="" method="post" name="search">
	      {{ form.hidden_tag() }} <!--implements the CSRF prevention -->
		  <div class="row">
			  <div class="five columns">
				{{ form.product_name(size=45, placeholder="Enter Product Name") }}
				 {% for error in form.product_name.errors %}
				    <span style="color: red;">[{{ error }}]</span>
				  {% endfor %}<br>
			  </div>
			  <div class="two columns">
				<button type="submit" class="button button-primary">Search</button>
			  </div>
			  <!-- Flash Message to be displayed -->
			  <div class="five columns">
				{% with messages = get_flashed_messages() %}
		        {% if messages %}
		          <ul>
		            {% for message in messages %}
		              <li class="searchMsg">{{ message }}</li>
		            {% endfor %}
		          </ul>
		       {% endif %}
		       {% endwith %}
			  </div>
		  </div><!-- ./row class -->
	  </form>

	  <div class="row">

	  	<div class="six columns">
	  		<h5> On Junglee.com</h5>
	  		{% if title|length > 1 %}

				{% for i in range(title|length) %}
			      <p>Product name : {{ title[i][1:]|safe }}><p>
				  <p>Price : {{ price[i]|safe }}</p>
				  <!-- Length & Safe are filters in jina2 for length of element & Safe used for rendering html tags  -->
				{% endfor %}
		  {% else %}
		  	 Search for a product
		  {% endif %}

	  	</div>
	  	<div class="six columns">
	  	<h5> On BuyHatke.com</h5>
	  	</div>

	  </div>

	  
	  
{% endblock %}
