{% extends "base.html" %}
{% block content %}

	  <!-- just use a number and class 'column' or 'columns' -->
	  <form action="" method="post" name="search">
	      {{ form.hidden_tag() }} <!--implements the CSRF prevention -->
		  <div class="row">
			  <div class="three columns">
				{{ form.product_name(size=25, placeholder="Enter Product Name") }}
				 {% for error in form.product_name.errors %}
				    <span style="color: red;">[{{ error }}]</span>
				  {% endfor %}<br>
			  </div>
			  <div class="eight columns">
				<button type="submit" class="button button-primary">Search</button>
			  </div>
		  </div>
	  </form>

	  {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li class="searchMsg">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

	  {% if title|length > 1 %}
		{% for i in range(title|length) %}
	      <p>Product name : {{ title[i][2:] }}<p>
		  <p>Price : {{ price[i]|safe }}</p>
		  <!-- Length & Safe are filters in jina2 for length of element & Safe used for rendering html tags  -->
		{% endfor %}
	  {% else %}
	  	 Search for a product
	  {% endif %}
	  
{% endblock %}
