<!doctype html>
<html>
  <head>
    <title>Home | Escrapper</title>
    <link rel="stylesheet" type="text/css" href="/static/skeleton.css">
  </head>
  
  <body>
  
  	<div class="container">

	  <!-- columns should be the immediate child of a .row -->
	  <div class="row">
		<div class="two columns"><h4>Escrapper</h5></div>
		<div class="ten columns">
		  Welcome to Escrapper (E-scrapper or Ecommerce scrapper)<br>
		  For finding cheapest product around the ecommerce website
		</div>
	  </div><br>

	  <!-- just use a number and class 'column' or 'columns' -->
	  <div class="row">
		<div class="four columns">
		  <input type="text" placeholder="Enter Product Name.."/>
		</div>
		<div class="eight columns"><button>Search</button></div>
	  </div>

	</div>
  	
  </body>
  
</html>
